$full-width: 128rem;

$color-white: #fff;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #a7a7a7;
$color-grey-dark: #777;
$color-grey-dark-2: #434343;

$color-black-light: #262626;
$color-black: #000;
$color-black-1: #111;
$color-black-2: #16171b;




$color-blue: blue;
$color-blue-light-1: #4169e1;

$color-red: red;
$color-red-1: #f43534;
