@import "varaibles";
@import "mixins";
.main {
  min-height: 100vh;
  padding: 10rem 0;
  color: $color-white;
  background-color: $color-black-2;
  position: relative;
  overflow-x: hidden;

  scroll-snap-align: start;
}

.eclipse {
  width: 59rem;
  height: 59rem;
  position: absolute;
  left: 30rem;
  top: 50%;
  transform: translateY(-50%);

  background-image: url("/images/blog-ellipse.png");
  background-size: 100%;
  background-position: 50% 50%;

  animation: eclipseAnimation 2s linear infinite;
}

.articleContainer {
  width: var(--full-width);
  margin: 0 auto;
  display: flex;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// ===== Title =====
.blogsTitle {
  font-size: 14rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-grey-dark-2;
  color: $color-black-2;
  position: absolute;
}
// =================


// ===== More Articles ====
.moreArticles {

}
.moreArticlesTitle {
  font-size: 5rem;
}
.moreArticlesSubTitle {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 200;
}
.moreIcon {
  &:link, &:visited {
    color: $color-white;
  }
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background-color: $color-red-1;
  text-align: center;
  margin-left: 3rem;
  display: inline-block;

  &:hover {
    @include pulseButton;
  }
}
// ========================

@keyframes eclipseAnimation {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }


  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.toBeContinueContainer {
  transform-origin: calc(50% + 6rem) -20rem;
  animation: wobble 5s linear infinite;
  position: relative;
  background-color: transparent;
  &:before {
    content: '';
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-left: 2px solid $color-grey-light-2;
    border-top: 2px solid $color-grey-light-2;
    top: -20rem;
    left: 55%;
    transform: rotateZ(25deg) skewY(40deg) ;
    transform-origin: 0 0;
  }

  .screw {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -20rem;
    left: 55%;
    background-image: linear-gradient(-45deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%);
    border-radius: 50%;
    transform: translate(-50%, -10%);
    box-shadow: 0 0 2px $color-black;
    overflow: hidden;
    &:after {
      content: '';
      height: .5rem;
      width: 100%;
      background-color: $color-grey-light;
      //background-image: linear-gradient(to right, $color-black);
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: inset 0 0 5px $color-grey-dark-2;
      transform: translate(-50%, -50%) rotateZ(-15deg);
      z-index: 10;
    }

  }
}

.toBeContinue {
  background-color: $color-black-2;
  font-size: 10rem;
  font-weight: 100;
  text-transform: uppercase;
  //-webkit-text-stroke-width: 2px;
  //-webkit-text-stroke-color: $color-grey-dark-2;
  color: $color-white;
  margin-left: 12rem;
  border-radius: 1rem;
  border: 0.4rem solid #fff;
  padding: 3rem 6rem;
  display: inline-block;
  animation: neon 3.5s step-end infinite;
  font-family: 'Exo 2', sans-serif;
  transform: rotateZ(5deg);

}

@keyframes wobble {
  0%, 100% {
    transform: rotateZ(-2deg);
  }
  25%, 75% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(2deg);
  }
}

@keyframes neon {
  0%, 10%, 20%, 100%{
    opacity: 1;
    box-shadow:
            0 0 5px #fff,
            0 0 20px var(--neon-box-shadow-color),
            0 0 30px var(--neon-box-shadow-color),
            0 0 40px var(--neon-box-shadow-color),

            inset 0 0 5px #fff,
            inset 0 0 20px var(--neon-box-shadow-color),
            inset 0 0 30px var(--neon-box-shadow-color),
            inset 0 0 40px var(--neon-box-shadow-color);
    text-shadow:
            -1px -1px 1px var(--shadow-color-light),
            -1px 1px 1px var(--shadow-color-light),
            1px -1px 1px var(--shadow-color-light),
            1px 1px 1px var(--shadow-color-light),

            0 0 3px var(--shadow-color-light),
            0 0 10px var(--shadow-color-light),
            0 0 20px var(--shadow-color-light),

            0 0 20px var(--neon-shadow-color),
            0 0 30px var(--neon-shadow-color),
            0 0 40px var(--neon-shadow-color),
            0 0 70px var(--neon-shadow-color),
            0 0 100px var(--neon-shadow-color);
            //0 0 200px var(--shadow-color);
  }
  9%, 19% {
    //opacity: 0;
    box-shadow: none;
    text-shadow: none;
            //-1px -1px 1px var(--shadow-color-light),
            //-1px 1px 1px var(--shadow-color-light),
            //1px -1px 1px var(--shadow-color-light),
            //1px 1px 1px var(--shadow-color-light),
            //
            //0 0 5px var(--shadow-color-light),
            //0 0 15px var(--shadow-color-light),
            //0 0 25px var(--shadow-color-light),

            //0 0 40px var(--shadow-color),
            //0 0 50px var(--shadow-color),
            //0 0 60px var(--shadow-color),
            //0 0 80px var(--shadow-color),
            //0 0 110px var(--shadow-color),
            //0 0 210px var(--shadow-color);
  }
}
