@import "../varaibles";

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 7rem;
  padding: 1rem 2rem;
  width: 100%;
  background-color: $color-black-2;
  transition: all .5s;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;

}

html:not([data-scroll]) .header {
  background-color: transparent;
  padding: 3rem 2rem 1rem 2rem;
  height: 9rem;
}

html[data-scroll="0"] .header {
  background-color: transparent;
  padding: 3rem 2rem 1rem 2rem;
  height: 9rem;
}

.menuButton {
  height: 4rem;
  width: 4rem;
  position: relative;
  cursor: pointer;
}

.i18n {
  color: $color-grey-light-2;
  -webkit-background-clip: text;
  font-size: 3rem;
  height: 4rem;
  width: 8rem;
  position: relative;
  cursor: pointer;
  line-height: 4rem;
  display: flex;
  align-items: center;

  & > span:last-child {
    color: red;
    padding-left: .5rem;
    font-size: 2.2rem;
  }
}

.menuButtonLine {
  position: absolute;
  left: 0;
  width: 100%;
  outline: none;
  border-bottom: 2px $color-white solid;

  transition: all .4s;

  &:nth-child(1) {
    top: 15%;
  }

  &:nth-child(2) {
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
  }

  &:nth-child(3) {
    bottom: 15%;
    transform: translateY(50%);
  }
}

.menuButton:hover {
  .menuButtonLine {
    &:nth-child(2) {
      width: 100%;
    }
  }
}

.menuButton.opened {
  .menuButtonLine {
    &:nth-child(1) {
      opacity: 1;
      top: 50%;
      transform: translateY(-50%) rotateZ(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      opacity: 1;
      bottom: 50%;
      transform: translateY(50%) rotateZ(-45deg);
    }
  }
}
